JWT_SECRET_KEY="secret"
JWT_ALGORITHM="HS256"

JWT_REFRESH_TOKEN_EXPIRE_DAYS=60
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30


SUPER_ADMIN_USERNAME="admin"
SUPER_ADMIN_PASSWORD="admin"

ANON_USERNAME="ANONYMOUS"
ANON_PASSWORD="anonymous"


TG_BOT_TOKEN="token"
TG_BOT_SECRET="1234"

