JWT__SECRET_KEY="secret"
JWT__ALGORITHM="HS256"

JWT__REFRESH_TOKEN_EXPIRE_DAYS=60
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__TG_LOGIN_TOKEN_EXPIRE_MINUTES=5

GOOGLE__CLIENT_SECRET="lol"
GOOGLE__CLIENT_ID="lol"

BOT__TOKEN="TOKEN"
BOT__NAME="BOTNAME"


REDIS__HOST="redis"
REDIS__PORT=6379
